<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.student">

    <application
        android:allowBackup="true"
        android:icon="@drawable/yz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sxy05.my.Main4Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sxy05.my.MainActivity" />
        <activity android:name="com.example.sxy05.my.StudentListActivity" />
        >
        <activity android:name="com.example.sxy05.my.AddStudentActivity" />
        <activity android:name="com.example.sxy05.my.ShowStudentActivity" />
        <activity android:name="com.example.sxy05.my.Main2Activity" />
        <activity android:name="com.example.sxy05.my.Main5Activity" />
        <activity android:name="com.example.sxy05.my.Main3Activity" />
        <activity android:name="com.example.sxy05.my.FragmeActivity"/>
    </application>

</manifest>